* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #0b0b0f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-page {
  background-image: url("images/picture1.jpg");
  background-size: cover;         /* fills entire viewport */
  background-position: top center;
  background-repeat: no-repeat;   /* only one image */
  width: 100vw;
  min-height: 180vh;              /* fills screen once */
}

