/* --------------------- Body and Background --------------------- */
body {
  margin: 0;
  background-image: url('images/stars2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto; /* allow scrolling */
  font-family: sans-serif;
}

/* --------------------- Collage Container --------------------- */
.collage {
  position: relative;
  width: 2500px;      /* desktop width */
  height: 2000px;     /* desktop height */
}

/* --------------------- Images --------------------- */
.img {
  position: absolute;
  width: 450px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  object-fit: cover;
}

.img1 { top: 100px; left: 80px; transform: rotate(-6deg); }
.img2 { top: 220px; left: 600px; transform: rotate(8deg); }
.img3 { top: 550px; left: 450px; transform: rotate(-12deg); }

/* --------------------- Spotify Players --------------------- */
.player1, .player2 {
  position: absolute;
  width: 500px;
  height: 160px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(255,255,255,0.2);
}

.player1 { top: 400px; left: 1900px; transform: rotate(0deg); }
.player2 { top: 650px; left: 1900px; transform: rotate(0deg); }

/* --------------------- MOBILE ADJUSTMENT --------------------- */
@media (max-width: 768px) {
  .collage {
    width: 100vw;
    min-width: 100%; /* full width */
    height: auto;
    min-height: 1600px; /* enough height for stacked layout */
  }

  /* Center images and stack them vertically */
  .img1 {
    top: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(-6deg);
    width: 70vw;
  }

  .img2 {
    top: 400px;
    left: 50%;
    transform: translateX(-50%) rotate(8deg);
    width: 70vw;
  }

  .img3 {
    top: 750px;
    left: 50%;
    transform: translateX(-50%) rotate(-12deg);
    width: 70vw;
  }

  /* Center Spotify players below images */
  .player1 {
    top: 1150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
  }

  .player2 {
    top: 1350px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
  }
}

