body {
  margin: 0;
  background: #f2f2f2;
}

.collage {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.img {
  position: absolute;
  width: 450px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.img1 {
  top: 100px;
  left: 80px;
  transform: rotate(-6deg);
}

.img2 {
  top: 220px;
  left: 600px;
  transform: rotate(8deg);
}

.img3 {
  top: 550px;
  left: 450px;
  transform: rotate(-12deg);
}

.player1 {
  position: absolute;         /* lets you place it anywhere in the collage */
  top: 400px;                 /* distance from top */
  left: 1900px;                /* distance from left */
  width: 500px;               /* adjust size */
  height: 160px;               /* adjust height */
  border-radius: 12px;        /* matches your style */
   /* optional shadow */
  transform: rotate(0deg);   /* optional rotation for collage vibe */
}

.player2 {
  position: absolute;
  top: 500px;        /* adjust to place it in collage */
  left: 1900px;       /* adjust horizontal position */
  width: 500px;       /* size of the player */
  height: 160px;
  border-radius: 12px;
  
  transform: rotate(2deg);  /* optional slight rotation */
}


body {
  margin: 0;
  background-image: url('images/stars2.jpg');
  background-size: cover;      /* cover whole screen */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
}


